:root {
  --green-600: #282ceb;
  --green-700: #ee850c;
  --gold-600: #00c8ff;
  --gold-600-transparent: #00c8ff49;
  --gold-700: #e39f09;
  --gold-700transparent: #ffffff20;
  --gold-700-transparent: #e39f0949;
  --fondo-after: #00000049;

  --gradient:
    radial-gradient(
      circle at 20% 35%,
      rgba(4, 50, 255, 0.18),
      transparent 35%
    ),
    radial-gradient(
      circle at 80% 15%,
      rgba(4, 33, 255, 0.158),
      transparent 35%
    ),
    radial-gradient(circle at 70% 55%, rgba(146, 4, 255, 0.096), transparent 35%),
    radial-gradient(circle at 30% 90%, #9e1bf02f, transparent 30%),
    linear-gradient(180deg, #000000bb 0%, #000000bb 100%);

  --gradient-title: linear-gradient(135deg, #2563EB 0%, #7C3AED 100%);
  --amarillo: rgb(240, 157, 27);
  --azul: rgb(04, 157, 255);
  --rojo: rgb(240, 32, 48);
  --verde: rgb(59, 169, 112);
}

/* :root {
  --green-600: #12a34a;

  --gold-600: #e39f09;

  --fondo-after: #ffb80520;
  --gold-600-transparent: #ffb80516;

  --gradient:
    radial-gradient(
      circle at 20% 40%,
      rgba(31, 169, 86, 0.22),
      transparent 35%
    ),
    radial-gradient(
      circle at 78% 58%,
      rgba(255, 172, 43, 0.18),
      transparent 30%
    ),
    linear-gradient(180deg, #07110a 0%, #0b170e 100%);

  --gradient-title: linear-gradient(
    90deg,
    #12a34a 0%,
    #36b93e 35%,
    #8dc63f 60%,
    #e1b11a 85%,
    #e39f09 100%
  );
} */
